minioAPIPort: "9000"
minioConsolePort: "9001"

mode: standalone

rootUser: root
rootPassword: Minio11!

persistence:
  size: 10Gi

tls:
  enabled: true
  certSecret: minio-tls
  publicCrt: tls.crt
  privateKey: tls.key

users:
  - accessKey: console
    secretKey: Minio11!
    policy: consoleAdmin
  - accessKey: mariadb-operator
    secretKey: Minio11!
    policy: readwrite

buckets:
  - name: backups
    policy: none
    purge: false
    versioning: false
    objectlocking: false
  - name: test-backup
    policy: none
    purge: false
    versioning: false
    objectlocking: false
  - name: test-restore
    policy: none
    purge: false
    versioning: false
    objectlocking: false