apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "mariadb-operator.fullname" . }}-metrics-monitor
  labels:
    {{- include "mariadb-operator.labels" . | nindent 4 }}
spec:
  endpoints:
    - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      path: /metrics
      port: https
      scheme: https
      tlsConfig:
        insecureSkipVerify: true
  selector:
    matchLabels:
      {{- include "mariadb-operator.selectorLabels" . | nindent 6 }}