apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-prepare
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: sysbench-prepare
        image: zyclonite/sysbench:1.0.21
        command:
          - sysbench 
          - oltp_read_write 
          - --tables=5 
          - --table_size=1000000
          - --mysql-host=mariadb.default.svc.cluster.local
          - --mysql-port=3306
          - --mysql-user=root
          - --mysql-password=MariaDB11!
          - --mysql-db=sbtest
          - prepare
        resources:
          requests:
            cpu: 500m
            memory: 128Mi
          limits:
            memory: 512Mi
