apiVersion: k8s.mariadb.com/v1alpha1
kind: User
metadata:
  name: sbtest-galera
spec:
  mariaDbRef:
    name: mariadb-galera
  passwordSecretKeyRef:
    name: mariadb
    key: password
  # require:
  #   x509: true
  host: "%"
  maxUserConnections: 1000000000