apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb-from-backup-scheduled
spec:
  storage:
    size: 1Gi

  bootstrapFrom:
    backupRef:
      name: backup-scheduled
    restoreJob:
      labels:
        sidecar.istio.io/inject: "false"
    targetRecoveryTime: 2023-12-28T09:00:00Z
