---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pvc
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - svc
  verbs:
  - create
  - patch
  - watch
- apiGroups:
  - apps
  resources:
  - sts
  verbs:
  - create
  - patch
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - patch
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - backupmariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - backupmariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - databasemariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - databasemariadbs/finalizers
  verbs:
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - databasemariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - grantmariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - grantmariadbs/finalizers
  verbs:
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - grantmariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - mariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - mariadbs/finalizers
  verbs:
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - mariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - restoremariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - restoremariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - usermariadbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - database.mmontes.io
  resources:
  - usermariadbs/finalizers
  verbs:
  - update
- apiGroups:
  - database.mmontes.io
  resources:
  - usermariadbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - patch
  - watch
