Happy Women's day! 👩🏻‍💻

🌈 This release increases the spectrum of compatible [MariaDB images](https://github.com/MariaDB/mariadb-docker) and improves the integration with service mesh projects like Istio.

🐛 We have also introduced some reliability improvements in our Galera support and fixed some regressions reported by our amazing community.

🛠️ If you haven't yet migrated from `v0.0.26`, please do so before upgrading to `v0.0.27`:
- **[UPGRADE GUIDE v0.0.26](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/UPGRADE_v0.0.26.md)**

🤝 We value your feedback! If you encounter any issues or have suggestions, please [open an issue on GitHub](https://github.com/mariadb-operator/mariadb-operator/issues/new/choose). Your input is crucial to improve `{{ .ProjectName }}`🦭.

👥 Join us on Slack: **[MariaDB Community Slack](https://r.mariadb.com/join-community-slack)**.