Thank you for using `{{ .ProjectName }}`🦭! 

📦 This release contains multiple improvements and bugfixes made by our great community. Take a look at the changelog for further detail.

🤝 We value your feedback! If you encounter any issues or have suggestions, please [open an issue on GitHub](https://github.com/mariadb-operator/mariadb-operator/issues/new/choose). Your input is crucial to improve `{{ .ProjectName }}`🦭.

👥 Join us on Slack: **[MariaDB Community Slack](https://r.mariadb.com/join-community-slack)**.