📦 In this release, we have considerably shaped our CRD APIs to eventually converge to a `v1beta1` version. We have introduced several new fields with brand new functionallity, each of them documented in the respective PRs linked below alongside the relevant [API reference](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/API_REFERENCE.md).

🏗️ We have significantly changed the MariaDB Galera architecture to improve its overall stability and robustness:
- Liveness and readiness probes are now delegated to the `agent`. This enables better Galera cluster recovery and flexibility to introduce new features.
- `agent` and `init` images are now part of the `mariadb-operator` glued CLI.
- Introduction of a Galera init `Job` to execute initialization tasks prior to provisioning the `StatefulSet`.

⚙️ The automated Galera cluster recovery is now more predictable, robust and configurable. The user may now specify a `minClusterSize`, either as an absolute number of replicas (`2`) or relative (`50%`), that will tell the operator when the cluster is considered unhealthy so it can perform the recovery process after a given period of time defined by `clusterHealthyTimeout`. Refer to the [Galera documentation](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/GALERA.md) for further detail.

💾 Some more new features, now related to the storage: The operator is now able to resize the volumes used by `MariaDB` without affecting its availability, enabling smooth scaling of both `MariaDB` storage capacity and the volume of data stored by your applications. Furthermore, we've streamlined our storage API to make it ridiculously simple, take a look at the [storage documentation](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/STORAGE.md). 

🔗 To enable better integrations with cloud providers and other CNCF projects, we have introduced support for `inheritMetadata` and `serviceAccountName` fields in the `Backup`, `Restore` and `SqlJob` resources. This allows you to use dedicated metadata (i.e. labels and annotations) and `ServiceAccounts` across all our batch `Job` and `CronJob` resources.

🛠️ To accomplish this, we've introduced some **BREAKING CHANGES**, please take a look at the upgrade guide. We've provided a migration script to facilitate the transition:
- **[UPGRADE GUIDE v0.0.26](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/UPGRADE_v0.0.26.md)**

🤝 We value your feedback! If you encounter any issues or have suggestions, please [open an issue on GitHub](https://github.com/mariadb-operator/mariadb-operator/issues/new/choose). Your input is crucial to improve `{{ .ProjectName }}`🦭.

👥 Join us on Slack: **[MariaDB Community Slack](https://r.mariadb.com/join-community-slack)**.