apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: load-balancer
  namespace: metallb
spec:
  addresses:
    - $CIDR_PREFIX.0.10-$CIDR_PREFIX.0.240
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2advertisement
  namespace: metallb
spec:
  ipAddressPools:
    - load-balancer