# The rules are helm templated, so we must escape labels:
# {{ $labels.target }} => {{"{{ $labels.target }}"}}
- alert: MariaDBDown
  expr: |
    mysql_up{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} != 1
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: MariaDB instance is down or cannot be scraped
    description: |
      MariaDB instance {{"`{{ $labels.target }}`"}} is down or cannot be scraped
- alert: MariaDBSlowQueries
  expr: |
    increase(mysql_global_status_slow_queries{target=~"{{ include "mariadb-cluster.fullname" . }}.*"}[1m]) > 0
  for: 5m
  labels:
    severity: warning
  annotations:
    summary: MariaDB instance has continuous slow queries
    description: |
      MariaDB instance {{"`{{ $labels.target }}`"}} has continuous slow queries
- alert: MariaDBTooManyConnectionsWarning
  expr: |
    mysql_global_status_threads_connected{target=~"{{ include "mariadb-cluster.fullname" . }}.*"}
    / mysql_global_variables_max_connections{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} > 0.8
  for: 1m
  labels:
    severity: warning
  annotations:
    summary: MariaDB instance has high connection utilization (>80%)
    description: |
      MariaDB instance {{"`{{ $labels.target }}`"}} has high connection utilization {{"`{{ humanizePercentage $value }}`"}}
- alert: MariaDBTooManyConnectionsCritical
  expr: |
    mysql_global_status_threads_connected{target=~"{{ include "mariadb-cluster.fullname" . }}.*"}
    / mysql_global_variables_max_connections{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} > 0.9
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: MariaDB instance has high connection utilization (>90%)
    description: |
      MariaDB instance {{"`{{ $labels.target }}`"}} has high connection utilization {{"`{{ humanizePercentage $value }}`"}}
- alert: MariaDBConnectionError
  expr: |
    increase(mysql_global_status_connection_errors_total{target=~"{{ include "mariadb-cluster.fullname" . }}.*"}[5m]) > 0
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: MariaDB instance has connection errors
    description: |
      MariaDB instance {{"`{{ $labels.target }}`"}} has {{"`{{ $labels.error }}`"}} connection errors
