# The rules are helm templated, so we must escape labels:
# {{ $labels.target }} => {{"{{ $labels.target }}"}}
- alert: MariaDBReplicationNotRunning
  expr: |
    mysql_slave_status_slave_sql_running{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} == 0
    or mysql_slave_status_slave_io_running{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} == 0
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: Replication on MariaDB replica is not running
    description: |
      Replication on MariaDB replica {{"`{{ $labels.target }}`"}} is not running
- alert: MariaDBReplicationLagWarning
  expr: |
    mysql_slave_status_seconds_behind_master{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} > 30
  for: 1m
  labels:
    severity: warning
  annotations:
    summary: MariaDB replica is lagging behind the primary
    description: |
      MariaDB replica {{"`{{ $labels.target }}`"}} is lagging {{"`{{ humanizeDuration $value }}`"}} behind the primary
- alert: MariaDBReplicationLagCritical
  expr: |
    mysql_slave_status_seconds_behind_master{target=~"{{ include "mariadb-cluster.fullname" . }}.*"} > 300
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: MariaDB replica is lagging behind the primary
    description: |
      MariaDB replica {{"`{{ $labels.target }}`"}} is lagging {{"`{{ humanizeDuration $value }}`"}} behind the primary
- alert: MariaDBReplicaMissing
  expr: |
    count(mysql_slave_status_master_server_id{target=~"{{ include "mariadb-cluster.fullname" . }}.*"}) != {{ sub .Values.mariadb.replicas 1 }}
  for: 1m
  labels:
    severity: critical
  annotations:
    summary: MariaDB cluster is missing replica(s)
    description: |
      MariaDB cluster `{{ include "mariadb-cluster.fullname" . }}` is missing replica(s)
