[ req ]
default_bits = 2048
default_md = sha1
default_keyfile = key.pem
prompt = no
encrypt_key = no
distinguished_name = req_distinguished_name
req_extensions = v3_req
x509_extensions = v3_req
[ req_distinguished_name ]
commonName = "localhost"
[ v3_req ]
subjectAltName = @alt_names
keyUsage = critical, keyCertSign, nonRepudiation, digitalSignature, keyEncipherment
[ alt_names ]
IP.1 = 127.0.0.1
IP.2 = 172.18.0.60
DNS.1 = azurite.default
DNS.2 = azurite.default.svc.cluster.local
DNS.3 = localhost
