nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""
# -- MariaDB CR
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#mariadbspec
mariadb:
  rootPasswordSecretKeyRef:
    name: mariadb
    key: root-password
  storage:
    size: 1Gi
  replicas: 3
  galera:
    enabled: true
# -- The list of Database CRs.
# The `.mariaDbRef` keys will be ignored.
# The `.name` keys are required to generate distinct CR names.
# The `.namespace` keys are allowed to override `.Release.Namespace`.
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#databasespec
databases: []
  # - name: mariadb
  #   characterSet: utf8
  #   collate: utf8_general_ci
  #   cleanupPolicy: Delete
  #   requeueInterval: 10h
# -- The list of User CRs.
# The `.mariaDbRef` keys will be ignored.
# The `.name` keys are required to generate distinct CR names.
# The `.namespace` keys are allowed to override `.Release.Namespace`.
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#userspec
users: []
  # - name: mariadb
  #   passwordSecretKeyRef:
  #     name: mariadb
  #     key: password
  #   host: "%"
  #   cleanupPolicy: Delete
  #   requeueInterval: 10h
  #   retryInterval: 30s
# -- The list of Grant CRs.
# The `.mariaDbRef` keys will be ignored.
# The `.name` keys are used to generate distinct CR names.
# The `.namespace` keys are allowed to override `.Release.Namespace`.
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#grantspec
grants: []
  # - name: mariadb
  #   privileges:
  #     - "ALL PRIVILEGES"
  #   database: "*"
  #   table: "*"
  #   username: mariadb
  #   grantOption: true
  #   host: "%"
  #   cleanupPolicy: Delete
  #   requeueInterval: 10h
  #   retryInterval: 30s
# -- The list of Backup CRs.
# The `.mariaDbRef` keys will be ignored.
# The `.name` keys are used to generate distinct CR names.
# The `.namespace` keys are allowed to override `.Release.Namespace`.
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#backupspec
backups: []
  # - name: backup
  #   schedule:
  #     cron: "0 0 * * *"
  #     suspend: false
  #   compression: gzip
  #   maxRetention: 720h # 30 days
  #   storage:
  #     s3:
  #       bucket: backups
  #       prefix: mariadb
  #       endpoint: minio.minio.svc.cluster.local:9000
  #       region:  us-east-1
  #       accessKeyIdSecretKeyRef:
  #         name: minio
  #         key: access-key-id
  #       secretAccessKeySecretKeyRef:
  #         name: minio
  #         key: secret-access-key
  #       tls:
  #         enabled: true
  #         caSecretKeyRef:
  #           name: minio-ca
  #           key: ca.crt
# -- The list of PhysicalBackup CRs.
# The `.mariaDbRef` keys will be ignored.
# The `.name` keys are used to generate distinct CR names.
# The `.namespace` keys are allowed to override `.Release.Namespace`.
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/api_reference.md#physicalbackup
physicalBackups: []
  # - name: physicalbackup
  #   schedule:
  #     cron: "0 0 * * *"
  #     suspend: false
  #     immediate: true
  #   compression: gzip
  #   maxRetention: 720h
  #   storage:
  #     s3:
  #       bucket: physicalbackups
  #       prefix: mariadb
  #       endpoint: minio.minio.svc.cluster.local:9000
  #       region:  us-east-1
  #       accessKeyIdSecretKeyRef:
  #         name: minio
  #         key: access-key-id
  #       secretAccessKeySecretKeyRef:
  #         name: minio
  #         key: secret-access-key
  #       tls:
  #         enabled: true
  #         caSecretKeyRef:
  #           name: minio-ca
  #           key: ca.crt
