...

To upgrade from older versions, be sure to follow the __[UPGRADE GUIDE](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/releases/UPGRADE_0.35.1.md)__.

Replication:
- https://github.com/mariadb-operator/mariadb-operator/pull/967
- https://github.com/mariadb-operator/mariadb-operator/pull/974

Backup:
- https://github.com/mariadb-operator/mariadb-operator/pull/1008
- https://github.com/mariadb-operator/mariadb-operator/pull/1013

Services:
- https://github.com/mariadb-operator/mariadb-operator/pull/1009

SQL:
- https://github.com/mariadb-operator/mariadb-operator/pull/1026


Kudos to @hedgieinsocks, @onesolpark, @johanjk, and @P4sca1 for their amazing contributions in this release! 🚀

---

We value your feedback! If you encounter any issues or have suggestions, please [open an issue on GitHub](https://github.com/mariadb-operator/mariadb-operator/issues/new/choose). Your input is crucial to improve `{{ .ProjectName }}`🦭.

Join us on Slack: **[MariaDB Community Slack](https://r.mariadb.com/join-community-slack)**.