**`{{ .ProjectName }}` [0.38.1](https://github.com/mariadb-operator/mariadb-operator/releases/tag/0.38.1) is here!** 🦭

This is a patch release limited in scope and focusing on bug fixes and performance optimizations. Refer to the PRs below for more details.

If you're upgrading from previous versions, don't miss the [UPGRADE GUIDE](https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/releases/UPGRADE_0.38.1.md) for a smooth transition.

Huge thanks to our contributors in this release! 🙏🏻

---

We value your feedback! If you encounter any issues or have suggestions, please [open an issue on GitHub](https://github.com/mariadb-operator/mariadb-operator/issues/new/choose). Your input is crucial to improve `{{ .ProjectName }}`🦭.

Join us on Slack: **[MariaDB Community Slack](https://r.mariadb.com/join-community-slack)**.