name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  GOLANGCI_VERSION: "v1.55.2"

jobs:
  detect-noop:
    runs-on: ubuntu-latest
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect no-op changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md","**.md.gotmpl"]'
          concurrent_skipping: false

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: GolangCI Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ env.GOLANGCI_VERSION }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Build
        run: make build

      - name: Build Enterprise
        run: make build-ent

      - name: Build Docker
        run: make docker-build

      - name: Build Enterprise Docker
        run: make docker-build-ent

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Cluster
        run: |
          make cluster
          make install
          make install-minio
          make net

      - name: Test
        run: make test

  test-ent:
    name: Test Enterprise
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Login GAR
        uses: docker/login-action@v2
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}

      - name: Cluster
        run: |
          make cluster
          make registry
          make install-ent
          make install-minio
          make net

      - name: Test
        run: make test-ent

  olm:
    name: OLM
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate
        run: make bundle-validate

      - name: Build image
        run: make bundle-build

      - name: Cluster
        run: make cluster

      - name: Scorecard
        run: make bundle-scorecard

  check-diff:
    name: Check diff
    runs-on: ubuntu-latest
    needs: detect-noop
    if: ${{ needs.detect-noop.outputs.noop != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate
        run: make generate

      - name: Check diff
        uses: mmontes11/diff-porcelain@v0.0.1
        with:
          message: Generated artifacts are not up to date. Run 'make generate' and commit the changes.
