name: Helm release

on:
  push:
    tags:
      - "mariadb-operator-*"
  workflow_dispatch: {}

jobs:
  manifests:
    name: Manifests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Tag
        id: tag
        run: echo "name=mariadb-operator-$(make helm-version)" >> $GITHUB_OUTPUT

      - name: Helm generate
        run: make helm-gen
      
      - name: Generate manifests bundle
        run: make manifests-bundle
        env:
          MANIFESTS_DIR: dist/manifests

      - name: Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ steps.tag.outputs.name }}"
          files: |
            dist/manifests/manifests.yaml
            dist/manifests/manifests.min.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GHA_TOKEN }}"

  olm:
    name: Helm OLM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Dispatch helm OLM workflow
        run: gh workflow run bundle.yaml --repo mariadb-operator/mariadb-operator-helm -f version=$(make helm-version)
        env:
          GITHUB_TOKEN: "${{ secrets.GHA_TOKEN }}"
