name: Helm

on:
  push:
    branches:
      - main
    paths:
      - "deploy/charts/**"
  pull_request:
    paths:
      - "deploy/charts/**"

env:
  HELM_VERSION: "v3.10.2"

jobs:
  lint-crds:
    name: CRDs
    runs-on: ubuntu-latest
    env:
      CT_CONFIG: hack/config/chart-testing/mariadb-operator-crds.yaml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: List changed
        id: list-changed
        run: |
          changed=$(ct list-changed --config $CT_CONFIG)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Lint
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --config $CT_CONFIG
      
      - name: Cluster
        if: steps.list-changed.outputs.changed == 'true'
        run: make cluster

      - name: Test install
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --config $CT_CONFIG

  lint-operator:
    name: Operator
    runs-on: ubuntu-latest
    env:
      CT_CONFIG: hack/config/chart-testing/mariadb-operator.yaml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: List changed
        id: list-changed
        run: |
          changed=$(ct list-changed --config $CT_CONFIG)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Lint
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --config $CT_CONFIG
      
      - name: Cluster
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          make cluster
          make docker-build
          make docker-load

      - name: Test install
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --config $CT_CONFIG --helm-extra-set-args "--set=crds.enabled=true"

  release:
    runs-on: ubuntu-latest
    needs:
      - lint-crds
      - lint-operator
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: "${{ secrets.GHA_TOKEN }}"

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        id: chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GHA_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "{{ .Name }}-{{ .Version }}"
        with:
          charts_dir: deploy/charts
          skip_existing: "true"
          pages_branch: gh-pages

      - name: Dispatch helm-index workflow
        if: ${{ steps.chart-releaser.outputs.changed_charts != '' }}
        run: |
          gh workflow run helm-index.yml \
            -f mariadb_operator_version=$(make helm-version) \
            -f mariadb_operator_crds_version=$(make helm-crds-version) \
            --repo mariadb-operator/mariadb-operator
        env:
          GITHUB_TOKEN: "${{ secrets.GHA_TOKEN }}"
