name: Test image

on:
  workflow_dispatch:
    inputs:
      mariadb_image:
        description: "MariaDB image used to run the tests"
        required: true
        type: string

jobs:
  test:
    name: "Test \"${{ inputs.mariadb_image }}\" image"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Cluster
        run: |
          make cluster
          make install
          make install-minio
          make net

      - name: Test
        run: make test
        env:
          RELATED_IMAGE_MARIADB: "${{ inputs.mariadb_image }}"

      - name: Tell the MariaDB Folks that failed
        if: ${{ failure() }}
        uses: zulip/github-actions-zulip/send-message@v1
        with:
          api-key: ${{ secrets.MARIADB_ZULIP_API_KEY }}
          email: "mariadb-operator-bot@mariadb.zulipchat.com"
          organization-url: "https://mariadb.zulipchat.com"
          to: "Buildbot"
          type: "stream"
          topic: "CI - MariaDB Operator"
          content: "There was an error running MariaDB Operator tests on ${{ inputs.mariadb_image }} - URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}."

